<!-- hero area -->
<section class="hero-area bg-white" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-1 mx-auto">
      <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
        {% for social in site.data.settings.social %}
        <li class="mb-3"><a class="text-white" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
        {% endfor %}
      </ul>
      </div>
      <div class="col-lg-10 mx-auto">
        <h1 class="text-white font-tertiary">{{ site.data.settings.hero.hero-title }}</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="w-100" src="{{ site.baseurl }}/assets/images/backgrounds/laptop_hands.jpg" alt="bg-shape">
  </div>
  <div class="layer" id="l5">
    <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=9&t=c&d=2020-04-23&ci=AWS01322311"></a>
    <img class="img-fluid" src="{{ site.baseurl }}/assets/images/about/aws_cloud_practitioner.png" alt="bg-shape" width="60%">
  </div>
  <!-- social icon -->

  <!-- /social icon -->
</section>
<!-- /hero area -->