---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <h4>{{ page.author }}</h4>
        <div class="my-5">
          <a href="https://www.youracclaim.com/badges/ce7ebe05-eb7b-4b78-bc9c-35084ad9cfe3/public_url"></a>
          <img src="{{ site.baseurl }}/assets/images/about/aws_cloud_practitioner.png" class="img-fluid w-50">
          <a href="https://www.youracclaim.com/badges/c84ee755-8440-462a-a033-008d275eb1eb/public_url"></a>
          <img src="{{ site.baseurl }}/assets/images/about/aws_architect_associate.png" class="img-fluid w-50">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /about -->
